# String On Python

### Single/Double quotation and Print
The quotations used to define string values like: `"Hllo"` <br>
Maybe use a single quotation `''` or double quotation `""`<br>
Some messages have a shortcut like: I'm, so the message is placed in between `""` to avoid error <br>
Finally, function `print` used to display the message

In [1]:
"Hello World!"

'Hello World!'

In [2]:
'Hello World'

'Hello World'

In [3]:
#variable has a string value
message = "Hello Flexcourses, I'm Arwa"

In [4]:
#disply message variable
print(message)

Hello Flexcourses, I'm Arwa

In [5]:
print("Everything will be alright")

Everything will be alright

### Escaping
It is content backslash and letter like: <br>
`\n` for new line <br>
`\t` tap

In [6]:
print("Hello Python course\nI'm Arwa,\t my age 22")

Hello Python course
I'm Arwa,	 my age 22

### Function len
Used to count string

In [7]:
platform = "Flexcourses"

In [8]:
len(platform)

11

### Indexing
Each character has an index starting from 0 to the last character. <br>
From left to right use [0],[1],.. to last character,<br>
From right to left use [-1],[-2],.. to first character.

In [9]:
#from left to right
print(platform[0])
print(platform[1])
print(platform[10])

F
l
s

In [10]:
#from right to left
print(platform[-1])
print(platform[-2])
print(platform[-11])

s
e
F

### Strings Slicing
Determine where the beginning of string and where the end [Start:End:Step]<br>
Also can be used the steps

In [11]:
number ="0123456789"

In [12]:
#Slicing start from index 1 to end of string
print(number[1:])
#Slicing start from first index to brefore last
print(number[:-1])
#Slicing start from index two to index six, 
#stop at index six, thit mean the values show from 2 to 5
print(number[2:6])

123456789
012345678
2345

In [13]:
#step determine how many jumps
print(number[::2])
print(number[1:9:2])
##from right to left
print(number[::-2])
print(number[-2:-10:-2])

02468
1357
97531
8642

### Strings concatenation
Now, let's see how we can edit and work with string <br>
You can use it as you need

In [14]:
#If I have variable and want to change assigned an item
#this can't be change by its index
#exampl
name = 'Arwa'

In [15]:
#this error 
name[0]='A'

TypeError: 'str' object does not support item assignment

In [16]:
#How solve proble? it can be use 'add+' operation
my_name = 'Arwa'

In [17]:
#I want change Arwa to Marwa, drop first index
last_name = my_name[1:]

In [18]:
#add new string to old
new_name = 'Ma'+ last_name

In [19]:
new_name

'Marwa'

In [20]:
#Also can add string to another string
family_name = 'AlSharif'

In [21]:
full_name = new_name +" "+family_name

In [22]:
full_name

'Marwa AlSharif'

In [23]:
#If the value is numeric but I put between quotations
#it will be a string
x = "5"+"10"

In [24]:
x

'510'

In [25]:
#If want to duplicate string you can use power
my_feel = "Flexcourses is the best! \n"

In [26]:
duplicate = my_feel *5

In [27]:
print(duplicate)

Flexcourses is the best!
Flexcourses is the best!
Flexcourses is the best!
Flexcourses is the best!
Flexcourses is the best!

## Method
### Populars method `upper` + `lower`
Method is a function, which used to do something

In [28]:
text = "What's next!"

In [29]:
#If use variable with dot(.), the program will show functions
#use Tab to shows
upper_text = text.upper()

In [30]:
#to show 'is this function'?
upper_text_function = text.upper

In [31]:
print(upper_text_function)
print(upper_text)

<built-in method upper of str object at 0x106619130>
WHAT'S NEXT!

### `Split`
Used to cut string into list by space or pass to special character

In [32]:
string = "Eman takes a tech course"

In [33]:
#split by space 
print("split by space: \n", string.split())
#split by a
split = string.split('a')
print("\nsplit by a: \n", split)

split by space:
 ['Eman', 'takes', 'a', 'tech', 'course']

split by a:
 ['Em', 'n t', 'kes ', ' tech course']

### `format`
Instead of adding an operation, you can use `format`. <br>
It must reserve a place "placeholder" in a string using `{}` before call format.

In [34]:
#First way: default assigned 
print("My name is: {} \nI'm a {}".format("Arwa","22"))

My name is: Arwa
I'm a 22

In [35]:
#secand way: assigned the index
print("I'm {1}.. \nI study the {2} course, introduced by {4}"
      .format("Amal","Arwa","python","web development","flexcourses"))

I'm Arwa..
I study the python course, introduced by flexcourses

### Keyworld with format function
Instead of using index number, we can use keyword index, which makes it easy to recognize the string

In [36]:
print("My name is: {frist_name} {last_name} \nI'm a {age} year"
      .format(frist_name="Arwa",last_name ="Hamed",age="22"))

My name is: Arwa Hamed
I'm a 22 year

### format with float
If I have a long number after a point, it can be a shortcut using the format function <br>
 The format must have a keyword
 Use a keyword in the placeholder, then put a value `often be 1`, if increase the value <br>
 it will reserve a place before number", the last number to show how many numbers <br>
 Don't forget to use f

In [37]:
float_number = 201.2345567789901

In [38]:
#Show exactly number
print("Number: {fn:1}".format(fn=float_number))
#How many number show after point
print("Number: {fn:1.5f}".format(fn=float_number))

Number: 201.2345567789901
Number: 201.23456

### f-string 
Like format but easy to use, just add `f` before quotations<br>
and call variable at `{}`.

In [39]:
name = "Arwa"
field = "SC"
age = 22

In [40]:
print(f"My name is {name}, I {age} years old, studied a {field}.")

My name is Arwa, I 22 years old, studied a SC.