#  Sets
+ Sets are unordered <br>
+ Sets have unique values 'can not repeat'

In [1]:
#create set
numSet = set()

In [2]:
numSet

set()

In [3]:
#add value to set
numSet.add(1)

In [4]:
numSet.add('hi')

In [5]:
numSet

{1, 'hi'}

In [6]:
myLists = [1,2,3,2,2,9,'Ahmad','Khalid',1,'Ahmad','Khalid']

In [7]:
mySets = set(myLists)

In [8]:
mySets

{1, 2, 3, 9, 'Ahmad', 'Khalid'}

In [9]:
myLists

[1, 2, 3, 2, 2, 9, 'Ahmad', 'Khalid', 1, 'Ahmad', 'Khalid']

## Differences function 'Intersection'
Comparison between two sets

In [10]:
class1 = ['AI', 'Security', 'Programming1', 'CS', 'User interface']

In [11]:
class2 = ['AI', 'Security', 'Programming2', 'Logical', 'User interface']

In [12]:
#Casting from list to set
classSet1 = set(class1)

In [13]:
classSet2 = set(class2)

In [14]:
diff_course = classSet1.difference(classSet2)

In [15]:
diff_course

{'CS', 'Programming1'}

In [16]:
diff_course2 = classSet2.difference(classSet1)

In [17]:
diff_course2

{'Logical', 'Programming2'}

## Union function
Merge of sets

In [18]:
union_course = classSet1.union(classSet2)

In [19]:
union_course

{'AI',
 'CS',
 'Logical',
 'Programming1',
 'Programming2',
 'Security',
 'User interface'}

## pop and remove functions
pop: delete random value<br>
remove: delete assigned value

In [20]:
name = ['Lama','Ahmad','Fatema','Marwa','Jameel']

In [21]:
nameSets = set(name)

In [22]:
nameSets

{'Ahmad', 'Fatema', 'Jameel', 'Lama', 'Marwa'}

In [23]:
#type method
type(nameSets)

set

In [24]:
#len method
len(nameSets)

5

In [25]:
#return value
nameSets.pop()

'Lama'

In [26]:
#it can save into a variable
popedItem = nameSets.pop()

In [27]:
popedItem

'Ahmad'

In [28]:
#return nothing, also it can save into a variable
nameSets.remove('Jameel')

In [29]:
#Delete sets using clear
nameSets

{'Fatema', 'Marwa'}

In [30]:
nameSets.clear()

In [31]:
nameSets

set()