# Functions
It is a combination of logic and coding. There are rules for using a function:<br>
 + Use an understood name.<br>
 + Don't repeat it<br>
 + Use a different function to ease editing<br>

 
# Clean Code
 Write the code smoothly and clearly. Use comment

## Write first function
Need to: <br>
 + `def` (definition function) <br>
 + `name of function()` (use snake way)<br>
 + :  (`block` contain the content)<br>
 Note: don't forget call function to run

In [1]:
def first_function():
    print("My first function")
    
first_function()

My first function

In [2]:
def sum_two_number():
    
    num_one = int(input('Add first number:'))
    num_two = int(input('Add second number: '))
    
    sum = num_one + num_two
    print('The sum of ',num_one, ' + ',num_two, '= ',sum)
    
sum_two_number()

Add first number:3
Add second number: 5
The sum of  3  +  5 =  8

## return
It doesn't return the value but is used to save it<br>
Any function after `return` will not work

In [3]:
def first_return():
    return 'My first return in function'

In [4]:
#the program will return as type not value
first_return()

'My first return in function'

In [5]:
# assign function to variabe
my_return = first_return()

In [6]:
print(my_return)

My first return in function

In [7]:
def message_after_return():
    return 5 + 5
    return 'Hello'

In [8]:
message = message_after_return()
print(message)

10

In [9]:
def sum_two_number():
    
    num_one = int(input('Add first number:'))
    num_two = int(input('Add second number: '))
    
    sum = num_one + num_two
    return (f'The sum of {num_one} + {num_two}= {sum}')

In [10]:
summation = sum_two_number()
print(summation)

Add first number:3
Add second number: 5
The sum of 3 + 5= 8

## Parameters
Send data to the function. It is accept more then one argument

In [11]:
name = 'Marwn'
def list_name(name):
    return name[:]

In [12]:
my_list = list_name(name)

In [13]:
print(my_list[0])

M

In [14]:
num_one = int(input('Add first number:'))
num_two = int(input('Add second number: '))

def sum_two_number(num_one, num_two):
    
    return num_one + num_two

add = sum_two_number(num_one, num_two)
print(f'The sum= {add}')

Add first number:2
Add second number: 6
The sum= 8

In [15]:
first_list = list(input('Enter first list:'))
second_list = list(input('Enter second list: '))

def concatenation_list(first_list, second_list):
    return first_list + second_list

concat = concatenation_list(first_list, second_list)
print(f'The concatenation list is: {concat}')
print("Frist index:",concat[0])

Enter first list:123
Enter second list: 456
The concatenation list is: ['1', '2', '3', '4', '5', '6']
Frist index: 1

## Optional Parameters
Assign value to parameter, it can be changed <br> 
The require-parameter is must be on first argument

In [16]:
def optional_parameter(age = 20):
    print("Hello mohammed your age is ",age)

In [17]:
optional_parameter(30)

Hello mohammed your age is  30

In [18]:
def require_optional_parameter(name, age = 20):
    print(f"Hello { name} your age is {age}")

In [19]:
require_optional_parameter("Ali", 21)

Hello Ali your age is 21

# Example

In [20]:
num_list = [308, 785, 109, 74.93, 150.32]
word_list = ['Hello', 'Good', 'Feel', 'Thing']

def found_object(one_object, whole_objects):
    return one_object in whole_objects

In [21]:
max_obj = max(num_list)
min_obj = min(num_list)

if(found_object(max_obj, num_list)):
    print("The max number =",max_obj)
    
if(found_object(min_obj, num_list)):
    print("The min number =",min_obj)
    


str_obj = max(word_list)

if(found_object(str_obj, word_list)):
    print ("The max word =",str_obj)
else:
    print('Try again')

The max number = 785
The min number = 74.93
The max word = Thing

## * args
If you don't know how many data you will used in parametar use `* args`<br>
It return a tuple value, and it can be any name

In [29]:
def mean(*args):
    return sum(args)/ len(args)

#avg = mean(229, 433.38, 134.99, 167, 123.32)
avg = mean(29, 43.38, 34.99, 67, 123.32)

if (avg >= 100):
    print('The mean is greater then 100, = ',avg)
elif (avg < 100):
    print('The mean is lower then 100, =',avg)

The mean is lower then 100, = 59.538

##  ** kwargs
It return a dic value, and it can be any name

In [23]:
def my_clints(**kwarg):
    return kwarg

In [24]:
my_clints(name = 'lulu', age=18)

{'name': 'lulu', 'age': 18}

In [25]:
def my_kwargs(**kwargs):
    
    for key, value in kwargs.items(): 
        
        print(f'key= {key}, value= {value}')

In [26]:
my_kwargs(name= 'Lulu', age= 11)

key= name, value= Lulu
key= age, value= 11

In [27]:
def concat_word(**word):
    
    result =''
    
    for string in word.values():
        result += string
    print(result)

In [28]:
concat_word(str1='Hello ', str2="python ", str3='course', str4='!')

Hello python course!