# Lambda Expression
## Anonymous Function
For simple function

In [1]:
def add(x):
    return x+x

add(10)

20

In [2]:
#it will return what are you choice
#it uses on one line
lambda x: x+x

In [3]:
add = lambda x: x+x
add(30)

60

In [4]:
string = 'hamed ahmad'

In [5]:
first_name = lambda name: string.title().split(" ")[0]

In [6]:
first_name(string)

'Hamed'

## map
Make an iterator that computes the function using arguments from
each of the iterables.

In [7]:
def vat_prices(price):
    return (price * 0.15) + price

In [8]:
vat_prices(100)

115.0

In [9]:
prices = [19.89, 74, 34.65]

In [10]:
# Using for loop to compute VAT
lis_vat=[]
for price in prices:
    lis_vat.append(vat_prices(price))

In [11]:
lis_vat

[22.8735, 85.1, 39.8475]

In [12]:
# Using map() to compute VAT
new_prices = list(map(vat_prices, prices))

In [13]:
new_prices

[22.8735, 85.1, 39.8475]

#### map with lambda

In [14]:
prodacts= [
    ('Watermelon', 10), ('Apple', 9), ('Orange', 10)
]

In [15]:
vat_prodacts = lambda prodect: (prodect[0], prodect[1]* 0.15+ prodect[1])

In [16]:
list(map(vat_prodacts, prodacts))

[('Watermelon', 11.5), ('Apple', 10.35), ('Orange', 11.5)]

In [17]:
staffs= [
    ('Ali Mohammed Ali', 30, 'Engineer'), 
    ('Kalid Faisal AlHarbi', 35, 'Dentist'), 
    ('Sami Saad AlAhmadi', 22, 'Developer')
]

In [18]:
sort_staff = lambda staff: (staff[0].title().split(" ")[0], staff[2])

In [19]:
list(map(sort_staff, staffs))

[('Ali', 'Engineer'), ('Kalid', 'Dentist'), ('Sami', 'Developer')]

## filter with lambda
return true or false

In [20]:
prices = [119.89, 174, 234.65, 78, 89, 67,128]

In [21]:
def tax(price):
    return price >= 100

In [22]:
list(filter(tax, prices))

[119.89, 174, 234.65, 128]

In [23]:
list(filter(lambda price: price >= 100, prices))

[119.89, 174, 234.65, 128]

In [24]:
p = lambda price: price >=100

In [25]:
list(filter(p, prices))

[119.89, 174, 234.65, 128]

In [26]:
names= [
    ('Lulu Mohammed', 2), 
    ('Arwa Hamed', 3), 
    ('Ruba Ahmad', 5),
    ('Sara Yosef', 5), 
    ('Hajar Saif', 1)
]

In [27]:
list(filter(lambda name: name[1] >2, names))

[('Arwa Hamed', 3), ('Ruba Ahmad', 5), ('Sara Yosef', 5)]