# Collections module
## counter
Prints how many time the item appears

In [33]:
from collections import Counter

## counter with string analyse

In [46]:
p = '''Python  is a general-purpose programming language in a similar vein to other programming languages 
that you might have heard of such as C++, JavaScript or Microsoft\'s C# and Oracle\'s Java . 
It has been around for srini  some considerable time having been originally conceived back in the 1980s by 
Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands in in . 
The language is named after srini one of Guido’s favourite programs “Monty Pythons Flying Circus”, a classic 
and somewhat anarchic British comedy srini sketch show originally running from 1969 to 1974 
(but which has been rerun on various stations ever since) and with srini several film spin offs . 
You will even find various references to this show in the documentation available with srini Python .'''

In [47]:
p

"Python  is a general-purpose programming language in a similar vein to other programming languages \nthat you might have heard of such as C++, JavaScript or Microsoft's C# and Oracle's Java . \nIt has been around for srini  some considerable time having been originally conceived back in the 1980s by \nGuido van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands in in . \nThe language is named after srini one of Guido’s favourite programs “Monty Pythons Flying Circus”, a classic \nand somewhat anarchic British comedy srini sketch show originally running from 1969 to 1974 \n(but which has been rerun on various stations ever since) and with srini several film spin offs . \nYou will even find various references to this show in the documentation available with srini Python ."

In [49]:
Counter(p.split())

Counter({'in': 6,
         'srini': 5,
         '.': 4,
         'a': 3,
         'to': 3,
         'and': 3,
         'been': 3,
         'the': 3,
         'Python': 2,
         'is': 2,
         'programming': 2,
         'language': 2,
         'of': 2,
         'has': 2,
         'originally': 2,
         'show': 2,
         'various': 2,
         'with': 2,
         'general-purpose': 1,
         'similar': 1,
         'vein': 1,
         'other': 1,
         'languages': 1,
         'that': 1,
         'you': 1,
         'might': 1,
         'have': 1,
         'heard': 1,
         'such': 1,
         'as': 1,
         'C++,': 1,
         'JavaScript': 1,
         'or': 1,
         "Microsoft's": 1,
         'C#': 1,
         "Oracle's": 1,
         'Java': 1,
         'It': 1,
         'around': 1,
         'for': 1,
         'some': 1,
         'considerable': 1,
         'time': 1,
         'having': 1,
         'conceived': 1,
         'back': 1,
         '1980s': 1,
         'by': 1,
         'Guido': 1,
         'van': 1,
         'Rossum': 1,
         'at': 1,
         'Centrum': 1,
         'Wiskunde': 1,
         '&': 1,
         'Informatica': 1,
         '(CWI)': 1,
         'Netherlands': 1,
         'The': 1,
         'named': 1,
         'after': 1,
         'one': 1,
         'Guido’s': 1,
         'favourite': 1,
         'programs': 1,
         '“Monty': 1,
         'Pythons': 1,
         'Flying': 1,
         'Circus”,': 1,
         'classic': 1,
         'somewhat': 1,
         'anarchic': 1,
         'British': 1,
         'comedy': 1,
         'sketch': 1,
         'running': 1,
         'from': 1,
         '1969': 1,
         '1974': 1,
         '(but': 1,
         'which': 1,
         'rerun': 1,
         'on': 1,
         'stations': 1,
         'ever': 1,
         'since)': 1,
         'several': 1,
         'film': 1,
         'spin': 1,
         'offs': 1,
         'You': 1,
         'will': 1,
         'even': 1,
         'find': 1,
         'references': 1,
         'this': 1,
         'documentation': 1,
         'available': 1})

## counter with most_common
return list

In [52]:
most_common_word = Counter(p.split()).most_common(50)

In [53]:
most_common_word[0]

('in', 6)

## collections defaultdict
If I want add new key in dict by default, that helps to:<br>
avoid keyError <br>
add value by defult

In [54]:
from collections import defaultdict

In [55]:
dic = {'name': 'Ali', 'age': 33}

In [57]:
# add value by type
dic = defaultdict(str)
dic['name']= 'Ali'
dic['age']= 33

In [60]:
dic['gender']

''

In [67]:
# add value by lambda
dic = defaultdict(lambda :'NA')
dic['name']= 'Ali'
dic['age']= 33

In [66]:
dic['geder']

'NA'

In [68]:
# add value by function
def default_fun():
    return 'NA'

dic = defaultdict(default_fun)
dic['name']= 'Ali'
dic['age']= 33

In [69]:
dic['gender']

'NA'

## namedtuples
assign meaning to each position in a tuple and allow for more readable,

In [70]:
from collections import namedtuple

In [74]:
my_tuple = namedtuple('Staff', 'name age department salary company')

In [77]:
staff = my_tuple('Arwa', 22, 'IT', 1000, 'CIBC')

In [78]:
staff

Staff(name='Arwa', age=22, department='IT', salary=1000, company='CIBC')

In [79]:
staff.name

'Arwa'

In [82]:
staff[0]

'Arwa'

In [83]:
Point = namedtuple('Point', ['x', 'y'])

In [86]:
p = Point(161, 232)

In [87]:
p.x + p.y

393

In [92]:
# unpack like a regular tuple
# or can Point(x=11, y=22)
x, y = p

In [93]:
x, y

(161, 232)